@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
}
body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}
.section-header{
    background: url(images/bg\ pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
}
.section-header h1{
    font-size: 60px;
    font-weight: 700;
    margin-top: 16%;
}

.selector i{
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(173, 172, 172);
}

.selector input{
    border: none;
    border: white;
}

.selector{
    background-color: white;
}

.selector button{
    margin-left: 50px;
    margin-top: 8px;
    padding: 8px 20px 8px 20px;
    color: white;
    background-color: rgb(70, 70, 250);
    border: 1px solid rgb(70, 70, 250);
}


.places img{
    width: 350px;
    height: auto;
}

.places .detail{
background-color: white;
}
.places h4{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.places h4:hover{
    color: rgb(44, 44, 251);
}

.places .fa-solid{
    font-size: 16px;
    background-color: gainsboro;
    border-radius: 100px;
    padding: 7px;
    margin: 0 10px;
    margin-bottom: 15px;
    border-bottom: ;
}